absl-py
annotated-types
astunparse
blinker
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
filelock
Flask
flatbuffers
fonttools
fsspec
gast
google-pasta
graphviz
grpcio
gunicorn
h5py
huggingface-hub
idna
itsdangerous
Jinja2
keras
kiwisolver
langcodes
language_data
libclang
marisa-trie
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
murmurhash
namex
numpy<2.0
opencv-python
opt-einsum
optree
packaging
pillow
preshed
protobuf
pydantic
pydantic_core
pydot
pydotplus
Pygments
pyparsing
python-dateutil
python-dotenv
PyYAML
regex
requests
rich
safetensors
shellingham
six
smart-open
spacy
spacy-legacy
spacy-loggers
SpeechRecognition
srsly
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
thinc
tokenizers
tqdm
transformers
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
Werkzeug
wrapt
